body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:#E0E0E0;
}

nav {
  background-color:#E0E0E0;
  height: 6rem;
  position: relative;
}

nav .brand-logo {
  position: absolute;
   transform: translate(-50%,-50%);
   top: 50%;
   left: 50%;
   width: 100%;
   font-family: 'Poppins',sans-serif;
   font-size: 3.5rem;
   color: black;
   text-shadow: 
   -9px -9px 12px #5a5a5a,
   9px 9px 12px #ffffff;
   caret-color:#262626;
   outline: none;
   font-weight:bolder;
   text-align: center;
}
.input-field label {
  color: black;
}

.input-field input[type=text]:focus + label {
  color: black;
} 

.input-field input[type=text]:focus {
  border-radius: 61px;
  padding-left: 30px;
  background: #e0e0e0;
  box-shadow: inset 7px 7px 13px #5a5a5a,
            inset -7px -7px 13px #ffffff;
}

input[type=text]:not(.browser-default) {
  border-bottom: 1px solid black;
  color: black;
}
input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-radius: 61px;
  background: #e0e0e0;
  box-shadow: inset 7px 7px 13px #5a5a5a,
            inset -7px -7px 13px #ffffff;
}
input[type=text]:not(.browser-default):focus:not([readonly]) + label {
  color: black;
}

.contenedor-form {
  padding: 3rem 0 1px 0;
}
.error {
  padding: 1rem!important;
  color:white;
  margin-top: 3rem;
  text-align: center;
  text-emphasis: left;
}

.card-panel {
  border-radius: 61px;
  background: #e0e0e0;
  box-shadow: inset 7px 7px 13px #5a5a5a,
            inset -7px -7px 13px #ffffff;
}

.card-panel h6 {
  text-align: center;
  font-size: 1rem;
}

.city-name {
  font-size: 1.5rem!important;
  font-weight:bold;
  margin-bottom: -10px;
}

.icon-container{
  margin-top: -20px;
}

.weatherIcon {
  border-radius: 50%;
  background: linear-gradient(315deg, #f0f0f0, #cacaca);
  box-shadow:  -9px -9px 12px #5a5a5a,
             9px 9px 12px #ffffff;
  width: 100px;
  height: 100px;
  display:inline-block;
  justify-content: center;
  align-items: center;
}

.btn-block {
  border-radius: 102px;
  background: #5a5a5a;
  box-shadow: inset -5px -5px 4px #b8b8b8,
            inset 5px 5px 4px #ffffff;
} 

.btn-block:hover {
  border-radius: 24px;
  background: #e0e0e0;
  box-shadow:  -5px -5px 0px #5a5a5a,
             5px 5px 0px #ffffff;
  cursor: pointer;
}

.error {
  padding: 1rem!important;
  text-align: center!important;
  color: #FFF!important;
}

.icon {
  width: 50px!important;
  margin-top: 30px;
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(315deg, #ffffff, #e6e6e6);
  box-shadow:  -5px -5px 12px #666666,
             5px 5px 12px #ffffff;
}

.modalHeader {
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.modalHeader .modalTitle{
  font-size: 35px;
}

.iconTooltip {
  margin: -20px;
}

li::marker {
  display: inline-block;
  vertical-align: middle;
}

ul {
  font-size: 1rem;
  list-style: none;
  padding-left: 0;
}
li::before {
  content: "•";
  font-size: 3rem;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: -1rem;
  margin-top: -1rem;
}

.averageTemp::before {
  color: #4ecdc4!important;
}
.maxTemp::before {
  color:#c7f464!important;
}
.minTemp::before {
  color: #81d4fa!important;
}
strong{
  font-weight:bold;
}

button {
  font-size: 1.3rem!important;
  font-weight:bold;
  margin-bottom: -10px;
  border: none;
  border-radius: 21px;
  background: linear-gradient(315deg, #f0f0f0, #cacaca);
  box-shadow:  -5px -5px 10px #5a5a5a,
             5px 5px 10px #ffffff;
  padding: 10px;
}
button:hover{
  border-radius: 21px;
background: linear-gradient(315deg, #cacaca, #f0f0f0);
box-shadow:  -5px -5px 0px #c3c3c3,
             5px 5px 0px #fdfdfd;
  cursor: pointer;
}

@media (max-width: 760px) {
  #signature { 
     display: none;
  }
}
